{
  "bracketSpacing": true,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "no-mixed-spaces-and-tabs": ["error", "smart-tabs"]
}
